.sequence {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .square {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  button{
    text-align: center;
    justify-content: center;
    
    margin-left: 575px;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }
  